[features]
unified_exec = true
shell_snapshot = true

[model_providers.ollama]
name = "Ollama"
base_url = "https://ollama.com/v1"
env_key = "OLLAMA_API_KEY"

[profiles.ollama]
model = "glm-4.7:cloud"
model_provider = "ollama"

